node_modules
dist
.env
src/icons/
src/rn/
src/index.js
src/index.d.ts
src/rn.js
src/rn.d.ts
src/data.json
src/cjs/
/*.js
/*.log
index.d.ts
coverage
test/__snapshots__
CovPreTemp/
CovTemp/
CodeArch.json
CovEndData_1.zip
coverage_ogid.txt
CovPreData_1.zip
quantity_temp.properties